html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

header {
    display: flex;
    padding-bottom: 5rem;
    
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
 
}

header ul {
    list-style-type: none;
 

}

header ul li {
    border: 1px ridge black;
}

label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

form{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

input, label {
    float:left;
}

.welcome {
    display: block;
  text-align: center;
  padding: 2rem;
}


.credential-form {
    display: table; margin: 0 auto; 
}

 .submit-button {
    float: none;
    margin-right: 1rem;
}

#create-acc-form {
    text-align: center;
}



footer{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 5rem;
}
